* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #eceff1;
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* start grid system  */
@media (min-width: 576px) {
  /* small devices => phone */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* medium devices => tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktop devices */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* large screen */
  .container {
    max-width: 1140px;
  }
}
/* End Grid System  */

.main-head {
  text-align: center;
  margin: 30px 0;
  font-size: 40px;
  font-weight: normal;
  color: #009688;
}

/* Small devices landscape phones, less than 768px */
@media (max-width: 767.98px) {
  .main-head {
    font-size: 35px;
  }
}
.plans {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Small devices landscape phones, less than 768px */
@media (max-width: 767.98px) {
  .plans {
    flex-direction: column;
    align-items: center;
  }
}


.plan {
  width: 31%;
  padding-bottom: 30px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);

  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
/* Medium devices tablets, less than 992px */
@media (max-width: 991.98px) {
  .plan {
    width: calc(96% /2);
    margin-bottom: 25px;
  }
 }
 
/* Small devices landscape phones, less than 768px */
@media (max-width: 767.98px) {
  .plan {
    width: 100%;
    margin-bottom: 40px;
  }
}

 

.plan:hover {
  transform: rotateZ(2deg);
  -webkit-transform: rotateZ(2deg);
  -moz-transform: rotateZ(2deg);
  -ms-transform: rotateZ(2deg);
  -o-transform: rotateZ(2deg);
}

.plan .plan-name {
  margin-bottom: 50px;
}
.plan .plan-name h3 {
  background-color: green;
  padding: 30px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  position: relative;
}
.plan .plan-name h3::after {
  content: "";
  position: absolute;
  border: 15px solid;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.plan:nth-child(1) .plan-name h3 {
  background-color: #009688;
}
.plan:nth-child(1) .plan-name h3::after {
  border-color: #009688 transparent transparent transparent;
}
.plan:nth-child(2) .plan-name h3 {
  background-color: #1e88e5;
}
.plan:nth-child(2) .plan-name h3::after {
  border-color: #1e88e5 transparent transparent transparent;
}
.plan:nth-child(3) .plan-name h3 {
  background-color: #ff5722;
}
.plan:nth-child(3) .plan-name h3::after {
  border-color: #ff5722 transparent transparent transparent;
}

.line {
  width: 30%;
  background-color: #9e9e9eba;
  height: 1px;
  margin: 35px auto;
}
.properties {
  width: max-content;
  margin: auto;
}
.properties li {
  margin: 20px 0;
  padding: 0 30px;
  font-size: 14px;
  color: #333333d1;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.properties li img {
  width: 25px;
  height: 25px;
}
.properties li p {
  width: calc(100% - 40px);
  text-align: left;
}
.price h3 {
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}
.plan:nth-child(1) .price h3 {
  color: #009688;
}
.plan:nth-child(2) .price h3 {
  color: #1e88e5;
}
.plan:nth-child(3) .price h3 {
  color: #ff5722;
}
